@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* - The header is at the top of the page, the footer is at the bottom, and they stay in place if you resize your screen.
- The header and footer have padding.
- The links in the header and footer are pushed to either side.
- There is space between the links in the header and footer.
- The footer has a light gray background (`#eeeeee`).
- The logo, input and buttons are centered in the screen.
- The buttons have an appropriate amount of padding.
- There is space between the logo, input and buttons. */

a {
  text-decoration: none;
  color: gray;
  padding: 8px 16px;
}

a:hover {
  color: black;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: rgb(237, 237, 237);
}

.content {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: center;
}

.left-links,.right-links {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 0px 24px;
}

.buttons button{
  padding: 8px 16px;
}