/* Add CSS Styling */
/*
* **All odd numbered elements**: a light red/pink background, and a list of fonts containing `Verdana` and `DejaVu Sans` with `sans-serif` as a fallback
* **The second element**: blue text and a font size of 36px
* **The third element**: in addition to the styles for all odd numbered elements, add a font size of 24px
* **The fourth element**: a light green background, a font size of 24px, and bold
*/

.odd {
  background-color: rgb(255, 123, 202);
  font-family: Verdana, 'DejaVu Sans', sans-serif
}

#second {
  color: rgb(55, 55, 183);
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(73, 208, 73);
  font-size: 24px;
  font-weight: bold;
}